@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;1,700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

body{
    background-color: #CECFC9;
}

/*Inicia la nav bar y header---------------------------------------------------*/
.header{
    background-color:#EFEFEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 20%;
}

.log{
    cursor: pointer;
}

.log img {
    height: 100px;
    width: auto;
    transition: all 0.3s;
}

.log img:hover{
    transform: scale(1.2);
}

.navLinks{
    list-style-type: none;
}

.navLinks li{
    display: inline-block;
    padding: 0 20px;
}

.navLinks li:hover{
    transform: scale(1.1);
}

.navLinks a{
    font-size: 700;
    color: #0A3143;
    text-decoration: none;
}

.navLinks li a:hover{
    color: #3ca3d3;
}
/*Termina la navbar--------------------------------------------------*/

/*Estilo para sobre poner texto y fade en una imagen*/
.container{
    width: 1420px;
    position: relative;
}

.container img{
    width: 100%;
    height: 100%;
}

.container .capa{
    width: 100%;
    height: 99.3%;
    position: absolute;
    top: 0;
    background-color: rgba(4, 5, 20, 0.6);
}

.container h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 72px;
    color: #EFEFEF;
    text-align: center;
}

.container h2{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    color: #CECFC9;
    text-align: center;
}

.container p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #CECFC9;
    text-align: center;
}
/*termina Estilo para sobre poner texto y fade en una imagen*/

/*Inicia Footer*/
.piePagina{
    width: 100%;
    background-color: #0A3143;
}
.piePagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.piePagina .grupo1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina .grupo1 .box figure img{
    width: 250px;
}

.piePagina .grupo1 .box h3{
    color: #EFEFEF;
    margin-bottom: 20px;
    font-size: 20px;
}

.piePagina .grupo1 .box h4{
    color: #EFEFEF;
    margin-bottom: 10px;
    font-size: 15px;
}

.piePagina .grupo1 .box p{
    color: #CECFC9;
    margin-bottom: 10px;
}

.piePagina .grupo1 .redSocial a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #EFEFEF;
    margin-right: 1opx;
    background-color: #051c27;
    text-align: center;
    transition: all 300ms ease
}

.piePagina .grupo1 .redSocial a:hover{
    color: #3ca3d3;
}

.piePagina .grupo2{
    background-color: #051c27;
    padding: 15px 10px;
    text-align: center;
    color: #EFEFEF;
}

.piePagina .grupo2 small{
    font-size: 10px;
}

/*Termina Footer*/